@{
    QuestionSee.DB.Question question = Model.question;
    QuestionSee.DB.User user = Model.user;
}

<div class="BlackBackgroudBlock" id="FullQuestionInfo">

    <div class="Central">
        <div class="CloseCard">
            <span class="close" onclick="document.getElementById('FullQuestionInfo').style.display = 'none'; Clear();"></span>
        </div>
        <div class="FullquestionCard">
            <h2>@question.Header</h2>
            Теги:<p>@question.Tag</p>
            <div style="border:1px solid black;">
                @Html.Raw(question.Description)
            </div>

            <p>
                @if (question.Answered)
                {
                    <span>Ура</span>
                }
                else
                {
                    <span>НЕ Ура</span>
                }
            </p>
            <div class="QuestionReputation">

                <div style="float:left; width:129px">
                    @question.Date
                </div>
                <div style="float:right">@question.Rating</div>
                <p hidden>@question.Deleted</p>
            </div>
            <div class="LikeDislike">

                <!--<div style="float:right; width: 45px;">
        <form method="post" action="/Home/LikeDislike">
            <input hidden type="text" name="Dislike" value="@question.Id">
            <input hidden type="text" name="UserDislike" value="@user.id">
            <button style="float:right;" type="submit" class="btn btn-danger  btn-sm">-</button> <p style="float:right; color:#ff0000">@question.Dislike</p>
        </form>
    </div>
        -->
                <div style="margin: 0px auto; width: 45px;">
                    <form method="post" action="/Home/LikeDislike">
                        <input hidden type="text" name="Like" value="@question.Id">
                        <input hidden type="text" name="UserLike" value="@user.id">
                        <p style="float:right; color:#00ff00;">@question.Like</p><button type="submit" style="float:right;" class="btn btn-success btn-sm">+</button>
                    </form>
                </div>
            </div>


            <div></div>

            @await Component.InvokeAsync("AnswerComments")
        </div>
</div>
<div class="AnswerComment">
    <form method="post" action="/Home/GiveAnswer">

        <textarea name="content" id="editor"></textarea>
        <input hidden name="QuestionId" type="text" value="@question.Id">
        <input type="submit" value="Ответить">
    </form>

</div>


</div>
<script>
    function Clear() {
        jQuery('#regform input').not('input[type="submit"]').val("");
    }

</script>

