@model QuestionSee.DB.User

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>
<div class="RegistrationBlock">
    <div class="RegistrationFields">
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>      
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>
    </dl>
    
    <form asp-action="Registration">
        <input type="submit" value="Create" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться на главную</a>
    </form>
        </div>
</div>
